.webdev__cards-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 450px));
    justify-items: center;
    justify-content: center;
    column-gap: 12%;
    grid-row-gap: 80px;
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .webdev__cards-group {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10%;
        max-width: 90vw;
    }
}

@media screen and (max-width: 660px) {
    .webdev__cards-group {
        column-gap: 40px;
        grid-row-gap: 40px;
    }
}