.whatido__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px auto;
    padding: 0;
    width: 80vw;
}

@media screen and (max-width: 660px) {
    .whatido__wrapper {
        margin: 60px auto;
    }
}

@media screen and (max-width: 500px) {
    .whatido__wrapper {
        margin: 40px auto;
    }
}