.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
}

@media screen and (max-width: 660px) {
    .header {
        padding-top: 60px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding-top: 50px;
    }
}