.header__list {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .header__list {
        max-width: 35vw;
    }
}

@media screen and (max-width: 425px) {
    .header__list {
        max-width: 50vw;
    }
}