.whatido__list-cards_item-title {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

@media screen and (max-width: 769px) {
    .whatido__list-cards_item-title {
        padding: 0 10px;
        font-size: 17px;
    }
}

@media screen and (max-width: 660px) {
    .whatido__list-cards_item-title {
        font-size: 16px;
    }
}