.section_title {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #F5F5F5;
    font-size: 60px;
}

@media screen and (max-width: 660px) {
    .section_title {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px) {
    .section_title {
        font-size: 30px;
    }
}