.accordion__wrapper {
    margin: 70px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .accordion__wrapper {
        margin-top: 50px;
    }
}