.cards-item_pic {
    margin: 0;
    padding: 0;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .cards-item_pic {
        height: 250px;
    }
}

@media screen and (max-width: 660px) {
    .cards-item_pic {
        height: 20vh;
    }
}

@media screen and (max-width: 500px) {
    .cards-item_pic {
        height: 15vh;
    }
}