.header__photo {
    display: block;
    background-image: url("../../../images/header/header__photo.png");
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 600px;
    max-width: 500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}