.whatido__descr-wrap {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 425px) {
    .whatido__descr-wrap {
        gap: 20px;
    }
}