.webdesign__cards {
    padding: 0;
    margin: 100px auto 0;
    display: grid;
    column-gap: 12%;
    grid-template-columns: repeat(2, minmax(200px, 450px));
    justify-items: center;
    justify-content: center;
    grid-row-gap: 80px;
    list-style: none;
    text-align: center;
    color: #F5F5F5;
}


@media screen and (max-width: 1050px) {
    .webdesign__cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10%;
        max-width: 90vw;
    }
}

@media screen and (max-width: 660px) {
    .webdesign__cards {
        margin: 70px auto 0;
        grid-row-gap: 40px;
        column-gap: 40px;
    }
}

@media screen and (max-width: 425px) {
    .webdesign__cards {
        margin: 50px auto 0;
    }
}