.stack {
    display: flex;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(31, 62, 85, 1) 60%, rgba(56, 114, 155, 1) 100%);
    margin: 0 auto;
    padding: 0;
}