.yellowline {
    margin: 30px 0;
    padding: 0;
    display: block;
    height: 3px;
    width: 125px;
    background-color: #FFD84E;
}

@media screen and (max-width: 850px) {
    .yellowline {
        margin: 20px 0;
    }
}

@media screen and (max-width: 500px) {
    .yellowline {
        margin: 15px 0;
        height: 2px;
        width: 50%;
    }
}

@media screen and (max-width: 375px) {
    .yellowline {
        margin: 10px 0;
        height: 2px;
        width: 30%;
    }
}