.webdev__cards {
    padding: 0;
    margin: 100px auto 0;
    display: grid;
    justify-items: center;
    grid-row-gap: 80px;
    list-style: none;
    text-align: center;
    color: #F5F5F5;
}

@media screen and (max-width: 660px) {
    .webdev__cards {
        margin: 70px auto 0;
        grid-row-gap: 40px;
        column-gap: 40px;
    }
}

@media screen and (max-width: 425px) {
    .webdev__cards {
        margin: 50px auto 0;
        grid-row-gap: 40px;
    }
}